html {
    font-size: 18px;
    line-height: 1.7;
    font-weight: 400;
    color: #222;
    font-family: 'Raleway', sans-serif;
}

html,body {
    overflow-x: hidden;
}

.container {
    max-width: 800px;
    margin: auto;
    width: 95%;
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
}

.big-title {
	font-size: 40px;
	margin-top: 0;
    font-weight: 900;
}

.main-title {
    font-size: 40px;
    margin: 0.5em 0;
    letter-spacing: 0.5px;
}

.title {
    font-size: 32px;
    margin: 1.5em 0 0.75em;
    letter-spacing: 0.5px;
}

.tasks {
    margin: 0;
}

.task {
    line-height: 2;
    margin-bottom: 10px;
    font-family: 'Source Code Pro', monospace;
    text-align: justify;
    hyphens: auto;
    -webkit-hyphens: auto;

}

.text {
    letter-spacing: 0.4px;
    margin: 0.75em 0;
    line-height: 1.75;
    text-align: justify;
    hyphens: auto;
    -webkit-hyphens: auto;
}

.b {
    font-weight: 700;
    letter-spacing: 0.1px;
}

.num {
    font-size: 40px;
    font-weight: bold;
    font-family: 'Source Code Pro', monospace; 
}

.ci {
   font-family: 'Source Code Pro', monospace; 
   white-space: nowrap;
}

.code {
    border-radius: 8px;
    font-size: 17px;
    overflow: auto;
    padding: 25px;
    box-sizing: border-box;
    background-color: #2c292d;
    white-space: nowrap;
    font-family: 'Source Code Pro', monospace;
    color: #fff;
    line-height: 1.7;
}

.grey {
    color: #a9a9a9
}

.blue {
    color: #78dce9
}

.green {
    color: #aadc76
}

#down:active,.red {
    color: #ff6189
}

.orange {
    font-style: italic;
    color: #fc9968!important;
}
.white {
    color: #eee;
}

.purple {
    color: #aa9ef2
}

.code span.yellow {
    color: #ffd865!important;
}

.button {
    height: 56px;
    right: 0;
    text-decoration: none;
    font-family: monospace;
    -ms-align-items: center;
    align-items: center;
    display: flex;
    border-radius: 40px;
    justify-content: center;
    margin-bottom: 40px;
    background-color: #2c292d;
    padding: 0 25px;
    transition: .3s;
    border: 0;
    cursor: pointer;
    user-select: none;
    outline: 0;
    position: absolute;
    color: #fff;
}

svg {
    width: 32px;
    margin-right: 10px;
    transition: .9s;
}

.link {
	padding: 15px 10px;
	font-size: 26px;
	text-decoration: none;
	position: relative;
	color: #222;
	display: inline-block;
	line-height: 1;transition: 0.3s;

}

.link-box {
	margin: 15px 0;
}

.link:after{
	content: '';
	position: absolute;
	bottom: 0px;
	left: 0;
	height: 15px;
	
	background-color: #78dce9;
    background-color: #fc9968;
	opacity: 0.3;
	transition: 0.3s;
	width: 100%;
	z-index: -1;
}

.link-box:nth-child(2) .link:after {
	background-color: #aadc76;
}
.link-box:nth-child(3) .link:after {
	background-color: #ff6189;
}
.link-box:nth-child(4) .link:after {
	background-color: #78dce9;
}
.link-box:nth-child(5) .link:after {
	background-color: #fc9968;
}
.link-box:nth-child(6) .link:after {
	background-color: #a9a9a9;
}
.link-box:nth-child(7) .link:after {
    background-color: aqua;
}
.link-box:nth-child(8) .link:after {
    background-color: darkorange;
}

.link-box:nth-child(9) .link:after {
    background-color: dodgerblue;
}
.link-box:nth-child(10) .link:after {
    background-color: tomato;
}

.box {
	margin-top: 40px;
}

 .link-box .num {
	font-size: 24px;
}

.special { 
    font-size: 16px;
    padding: 0;
    font-weight: 500;
    position: relative;
    padding: 5px 20px;
    line-height: 1.7;
}

@media (max-width: 768px) {
    html {
        font-size: 16px;
        line-height: 1.4;
    }
    .main-title {
        line-height: 1;
        margin: 2rem 0;
    }
    
    .title { 
        margin-top: 2rem;
        margin-bottom: 1rem;
        line-height: 1.2;
    }
    .text {

    }
    .link-box .num {
    	font-size: 30px;
    }
}

@media all and (pointer:fine) {
	.link:hover:after {
		height: 100%;
		opacity: 0.6;
		box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
		
	}
	.link:hover {
		transform: translateY(-3px);
	}
    .button:hover {
        background-color: #00658b
    }

    .button:hover svg {
        transform: rotate(360deg)
    }
}

@media all and (max-width:768px) {
    .button {
        position: relative
    }

    h1 {
        width: 100%
    }
    .link {
        font-size: 17px;
    }
  
	.link:after {
        padding: 10px;  
        height: 40%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
		bottom: 0px;
	}

	.link:hover:after {
		box-shadow: none;
	}

    .special {
        border: none; display: inline-block;
        padding: 10px;
    }

    .special:after {
        background-color: #ff6189!important;
        height: 50%;
       

    }
}

@media all and (max-width:480px) {
	.big-title {
		font-size: 2.5rem;
	}
    #down {
        bottom: 5vmin
    }

    #down img {
        width: 32px
    }
}
