html {
	font-size: 18px;
	    font-family: Roboto Slab;
	color: #333;
	line-height: 1.8;
	letter-spacing: 0.4px;
	/*scroll-behavior: smooth;*/
}

.container {
	max-width: 900px;
	margin: auto;
	width: 95%;
	padding: 50px 0;
}

.big-title {
	
	font-size: 3.5rem;
	margin-top: 0;
	line-height: 1;
}
.main-title {
    font-size: 3rem;
    margin: 1rem 0;
    font-weight: 900;
    line-height: 1.2;
    
}

.title {
    font-size: 1.7rem;
    margin: 1.5rem 0;
    line-height: 1.2;
    
}

.code {
    font-size: 0.9rem;
}

.text {
    font-size: 1rem;
    
}

.yel {
	color: #757575;
}


a, a > span {
  position: relative;
  color: inherit;
  text-decoration: none;

}
a:before, a:after, a > span:before, a > span:after {
  content: '';
  position: absolute;
  transition: transform .5s ease;
}

.num {
	font-weight: 900;
	font-size: 2rem;
	color: #757575;
	line-height: 1;
}
.link {
  padding: 0 30px;
  min-width: 320px;
  display: inline-block;
  font-size: 1.3rem;
  font-weight:700;
}

.link:before, .link:after {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-style: solid;
  border-color: #959595;
}


.link:before {
  border-width: 2px 0 2px 0;
  transform: scaleX(0);
}
.link:after {
  border-width: 0 2px 0 2px;
  transform: scaleY(0);
}
.link:hover:before, .link:hover:after {
  transform: scale(1, 1);
}


.code {
    font-size: 0.9rem;
}
.code, .high {
    line-height: 1;
    display: inline-block;
    margin-right: 4px;
    padding: 3px 6px;
    font-family: monospace;
    color: #fff;
    border-radius: 4px;
    background-color: #2c292d;
    white-space: nowrap;
}

/* width */
.code::-webkit-scrollbar {

  height: 10px;
}

/* Track */
.code::-webkit-scrollbar-track {
  background: #ffd865;
}
 
/* Handle */
.code::-webkit-scrollbar-thumb {
  background: #78dce9; 
  border-radius: 30px;
}

/* Handle on hover */
.code::-webkit-scrollbar-thumb:hover {
  background: #aa9ef2;
}

.code {
    display: block;
    overflow: auto;
    padding: 10px 20px;
    line-height: 1.5;
}

.code_text {
    white-space: normal
}

.grey {
    color: #a9a9a9
}

.blue {
    color: #78dce9
}

.green {
    color: #aadc76
}

#down:active,.red {
    color: #ff6189
}

.orange {
    font-style: italic;
    color: #fc9968!important;
}

.purple {
    color: #aa9ef2
}

.code span.yellow {
    color: #ffd865!important;
}
