html {
	font-size: 18px;
	    font-family: monospace;
	color: #333;
	line-height: 1.5;
	letter-spacing: 0.4px;
	/*scroll-behavior: smooth;*/
}

.container {
	max-width: 900px;
	margin: auto;
	width: 95%;
	padding: 50px 0;
}

.big-title {
	
	font-size: 3.5rem;
	margin-top: 0;
	line-height: 1;
}
.main-title {
    font-size: 4rem;
    margin: 1.5rem 0 2rem;
    font-weight: 900;
    line-height: 1.2;
    
}

.title {
    font-size: 2.2rem;
    margin: 1.5rem 0;
    line-height: 1.2;
    
}

.code {
    font-size: 0.9rem;
}

.text {
    font-size: 1.1rem;
    margin: 0.7rem 0;
    
}

.yel {
	color: #757575;
}


a, a > span {
  position: relative;
  color: inherit;
  text-decoration: none;

}
a:before, a:after, a > span:before, a > span:after {
  content: '';
  position: absolute;
  transition: transform .5s ease;
}

.num {
	font-weight: 900;
	font-size: 2rem;
	color: #757575;
	line-height: 1;
}
.link {
  padding: 5px 30px;
  min-width: 320px;
  display: inline-block;
  font-size: 1.3rem;
  font-weight:700;
}

.link:before, .link:after {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-style: solid;
  border-color: #959595;
}


.link:before {
  border-width: 2px 0 2px 0;
  transform: scaleX(0);
}
.link:after {
  border-width: 0 2px 0 2px;
  transform: scaleY(0);
}
.link:hover:before, .link:hover:after {
  transform: scale(1, 1);
}


.code {
    font-size: 0.9rem;
}
.code, .high {
    line-height: 1;
    display: inline-block;
    margin-right: 4px;
    padding: 3px 6px;
    font-family: monospace;
    color: #fff;
    border-radius: 4px;
    background-color: #2c292d;
    white-space: nowrap;
}

/* width */
.code::-webkit-scrollbar {

  height: 10px;
}

/* Track */
.code::-webkit-scrollbar-track {
  background: #ffd865;
}
 
/* Handle */
.code::-webkit-scrollbar-thumb {
  background: #78dce9; 
  border-radius: 30px;
}

/* Handle on hover */
.code::-webkit-scrollbar-thumb:hover {
  background: #aa9ef2;
}

.code {
    display: block;
    overflow: auto;
    padding: 10px 20px;
    line-height: 1.5;
}

.code_text {
    white-space: normal
}

.grey {
    color: #a9a9a9
}

.blue {
    color: #78dce9
}

.green {
    color: #aadc76
}

#down:active,.red {
    color: #ff6189
}

.orange {
    font-style: italic;
    color: #fc9968!important;
}

.purple {
    color: #aa9ef2
}

.code span.yellow {
    color: #ffd865!important;
}

.input {
    width: calc(100% - 160px);
    margin-bottom: 15px;
    padding-left: 10px;
    font-size: 15px;
    border: 1px solid #999;
    -webkit-border-radius: 3px;
    border-radius: 3px;

    height: 40px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: 0;
    box-shadow: none;
    -webkit-appearance: none
}

.input:focus,.textarea:focus {
    outline-color: #222;
    background-color: #f8f8f8;
    background-color: #f7f7fb;
    border: 1.2px solid #7f7f7f;

}
::placeholder {
    font-family: 'Montserrat',sans-serif
}
.basic-btn,.textarea {
    width: 100%;
    font-family: 'Montserrat',sans-serif;
    -webkit-border-radius: 5px;
    border-radius: 5px
}

.basic-btn {
    background-color: #2c292d;
    height: 40px;
    font-size: 14px;
    z-index: 0;
    border: 0;
    color: #fff;
    letter-spacing: .75px;
    transition: .2s;
    padding: 0;
    cursor: pointer;
    overflow: hidden;
    margin-bottom: 15px;
    font-family: monospace;
    outline: none;
    -webkit-appearance: none;
    max-width: 150px;
}
.basic-btn:hover {

    background-color: #474448;
}

.form {
  display: flex;
  justify-content: space-between;
}
